.detail-info {
  margin-left: 40px;
}

.movie-title {
  font-size: 50px;
}

.movie-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: black;
  width: 100px;
  height: 100px;
  margin-bottom: 0;
  background-color: green;
  border-radius: 25px;
  padding: 8px;
}

.text-movie-info {
  margin-top: 20px;
}

.title-movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-text {
  margin-top: 20px;
}

.btns-movie {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}